:root {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: clamp(16px, 2vw, 24px);
	line-height: 1.6;
}

:where(h1, h2, h3, h4, p, ul, ol) {
	margin: 0;
}

body {
	display: grid;
	grid-template-areas:
		'header header'
		'aside main';
	gap: 1em;

	margin: 5vh auto;
	max-width: 1200px;
	width: 80vw;
	min-width: min(500px, 90vw);
}

@media (prefers-color-scheme: dark) {
	a {
		color: rgb(158, 158, 255);
	}

	a:visited {
		color: rgb(208, 173, 240);
	}
}

aside {
	grid-area: aside;
}
header {
	grid-area: header;
	padding-bottom: 1em;
	border-bottom: 2px solid;
}
main {
	grid-area: main;
	border-left: 2px solid;
	padding-left: 1em;
}
main > p {
	margin-bottom: 0.3em;
}

ul {
	padding-left: 1em;
}

img {
	vertical-align: middle;
}

time {
	opacity: 0.5;
	font-weight: 400;
}

.avatar {
	width: 5em;
	float: right;
}

@media (max-width: 640px) {
	body {
		display: flex;
		flex-direction: column;
	}
	main {
		border-left: initial;
		padding-left: initial;

		padding-top: 1em;
		border-top: 2px solid;
	}
	aside {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 1em;
	}

	aside section {
		flex-grow: 1;
		flex-basis: 0;
		flex-shrink: 1;
	}
	aside ul {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
	}
	aside ul li {
		list-style: none;
	}
	aside li:not(:last-child)::after {
		content: ',';
		padding-right: 0.3em;
	}
}

@media print {
	:root {
		font-size: 0.65em;
		line-height: 1.5;
	}

	.avatar {
		display: none;
	}
}

a {
	color: rgb(77, 143, 195);
	text-decoration: none;
}
